:root {
    /* ---- Global vars ---- */
    /* Background */
    --bg-primary: #222;
    --bg-secondary: #444;

    /* Border color */
    --border-primary: #504242;

    /* Text */
    --text-color: #c0c5ce;

    /* Font */
    --font-family-primary: "Open Sans", sans-serif;
    --font-weight: 400;
    /* --------------------- */

    /* ---- Private vars ---- */
    /* Tasks */
    --task-completed: #202c217f;
    --task-uncompleted: #d35d6f10;
    /* --------------------- */
}

html,
body {
    background: var(--bg-primary);
    color: #eee;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    border: 1px solid var(--border-primary);
    max-width: 500px;
    padding: 1rem;
    margin: 1rem auto;
}

.w-50 {
    width: 50%;
}

main {
    padding: 1rem;
}
