#todo-tasks-container-title {
	text-align: center;
}
#todo-tasks-container,
#todo-tasks-container-title {
	font-style: italic;
}
.todo-task {
	display: flex;
	height: 2.5rem;
	margin: 0.75rem 0 0rem 0;
	padding: 0.375rem 0.75rem;
	transition: border 0.25s ease-in-out;
	align-items: center;
	justify-content: space-between;
}
.task-date {
	font-size: 0.85rem;
	color: #777;
	width: fit-content;
}

.todo-task-uncompleted {
	border: 1px solid var(--border-primary);
	background: var(--task-uncompleted);
	border-right: 10px solid #664e4e;
}
.todo-task-completed {
	border: 1px solid #5b6d5b;
	background: var(--task-completed);
	border-left: 10px solid #5b6d5b;
}
