:root {
  /* ---- Global vars ---- */
  /* Border color */
  --border-primary: #504242;
  --btn-toggle-active: #333333;
  /* ---------------------- */

  /* ---- Private vars ---- */
  /* Background */
  --btn-outline-bg: #f4f1d6;

  /* Success */
  --success-pastel-light: #678a74;
  --success-pastel-dark: #3e5d4b;

  /* Danger */
  --danger-pastel-light: #d35d6f;
  --danger-pastel-dark: #a84756;

  /* Warning */
  --warning-pastel-light: #f9c851;
  --warning-pastel-dark: #b2903d;

  /* Info */
  --info-pastel-light: #5d9cec;
  --info-pastel-dark: #2f6cb5;

  /* White */
  --white-pastel-light: #fafafa;
  --white-pastel-dark: #f4f1d6;

  /* Width and height */
  --btn-width: 100%;
  --btn-height: 50px;
  /* ---------------------- */
}

/* ---- Horizontal Group ---- */
.at-btn-group-horizontal {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

/* ---- Outline Button ---- */
.at-btn-outline {
  background-color: transparent;
  border: 1px solid var(--border-primary);
  color: #eee;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  height: var(--btn-height);
  overflow: hidden;
  position: relative;
  width: var(--btn-width);
  z-index: 1;
  outline: none;
  margin: 0 0.35rem;
}
.at-btn-outline > * {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.at-btn-outline:first-child {
  margin-left: 0;
}
.at-btn-outline:last-child {
  margin-right: 0;
}
.at-btn-outline::before {
  background-color: var(--btn-toggle-active);
  content: "";
  height: 100%;
  position: absolute;
  left: -1px; /* 1px for the border width */
  top: 0;
  transform: translateX(-100%);
  transition: all 0.3s;
  width: 100%;
  z-index: -1;
}
.at-btn-outline:hover::before {
  transform: translateX(1px); /* 1px for the border width */
}

/* Outline Success */
.at-btn-outline-success {
  border: 1px solid var(--success-pastel-light);
}
.at-btn-outline-success::before {
  background-color: var(--success-pastel-dark);
}

/* Outline Danger */
.at-btn-outline-danger {
  border: 1px solid var(--danger-pastel-light);
}
.at-btn-outline-danger::before {
  background-color: var(--danger-pastel-dark);
}

/* Outline Warning */
.at-btn-outline-warning {
  border: 1px solid var(--warning-pastel-light);
}
.at-btn-outline-warning::before {
  background-color: var(--warning-pastel-dark);
}

/* Outline Info */
.at-btn-outline-info {
  border: 1px solid var(--info-pastel-light);
}
.at-btn-outline-info::before {
  background-color: var(--info-pastel-dark);
}

/* Outline White */
.at-btn-outline-white {
  border: 1px solid var(--white-pastel-light);
}
.at-btn-outline-white::before {
  background-color: var(--white-pastel-dark);
}
.at-btn-outline-white:hover {
  color: #000;
}

/* ---- Utils ---- */

/* Circle button */
.at-btn-circle {
  border-radius: 100%;
  height: calc(var(--btn-height) + 1rem - 0.35rem); /* -0.35rem for margin */
  width: calc(var(--btn-height) + 1rem - 0.35rem); /* -0.35rem for margin */
}

/* Toggle button */
.at-btn-toggle::before {
  background-color: transparent;
}
.at-btn-toggle input[type="checkbox"],
.at-btn-toggle input[type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.2s;
  outline: none;
}
.at-btn-toggle input[type="checkbox"]:checked,
.at-btn-toggle input[type="radio"]:checked {
  background-color: var(--btn-toggle-active);
}
.at-btn-toggle input[type="checkbox"]:not(:checked),
.at-btn-toggle input[type="radio"]:not(:checked) {
  background-color: transparent;
}
