:root {
	/* ---- Global vars ---- */
	/* Background */
	--bg-primary: #222;
	--input-text-bg: #333333;
	--input-text-active-bg: #555050;

	/* Border color */
	--border-primary: #504242;

	/* Text */
	--input-text-color: #eee;
	--input-text-placeholder: #a8acb4;

	/* Font */
	--input-font-family-primary: "Open Sans", sans-serif;
	--input-font-weight: 400;
	/* --------------------- */

	/* ---- Private vars ---- */
	/* General */
	--input-text-height: 2.25rem;
	/* ---------------------- */
}

.at-input-text {
	background: var(--input-text-bg);
	border: 0;
	color: var(--input-text-color);
	font-size: 1rem;
	height: var(--input-text-height);
	line-height: 1.5;
	margin-bottom: 1rem;
	outline: none;
	padding: 0.375rem 0.75rem;
	transition: background 0.3s ease-in-out;
	width: calc(100% - 0.75rem * 2);
}
.at-input-text::-webkit-input-placeholder {
	color: var(--input-text-placeholder);
}
.at-input-text:focus {
	background: var(--input-text-active-bg);
}

/* Input range */
.at-input-range {
	background: transparent;
    margin: 0;
    width: 100%;
}
.at-input-range,
.at-input-range::-webkit-slider-runnable-track,
.at-input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
}
.at-input-range::-webkit-slider-thumb {
	background-color: var(--border-primary);
	width: 20px;
	height: 20px;
	margin-top: -6px;
	/* border-radius: 12px; */
	border-radius: 50%;
}
.at-input-range::-webkit-slider-runnable-track {
	background-color: var(--input-text-bg);
	height: 8px;
	/* border-radius: 1rem; */
}
